{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
    {% if app.user.isVerified == false %}
    <p>Attention, vous n'avez pas encore confirmé votre email. Merci de vérifier votre boite mail et de valider votre adresse mail.</p>
    {% else %}
<div class="row">
    <div class="tuto-container col-md-12">

        <h1>Mon Compte</h1>

        <p>{{ app.user.firstName }}, voici votre compte.
        <a href="{{ path('user_show', {'slug': app.user.slug}) }}">Voir mon profil !</a> ou <a href="{{ path('user_edit', {'id': app.user.id}) }}">Editer mon profil !</a></p>

        <ul class="nav nav-tabs myaccount-tab col-md-6" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="todo-tab" data-toggle="tab" role="tab" aria-controls="todo" href="#todo">Ma todo-list ({{ todos|length }})</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="done-tab" data-toggle="tab" role="tab" href="#done" aria-controls="done">Tutos réalisés ({{ dones|length }})</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tutos-tab" data-toggle="tab" role="tab" href="#tutos" aria-controls="tutos">Mes tutos ({{ tutos|length }})</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="tutos-tab" data-toggle="tab" role="tab" href="#abos" aria-controls="tutos">Mes abonnements ({{ app.user.userTos|length }})</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div id="todo" class="tab-pane fade show in active" role="tabpanel" aria-labelledby="todo-tab">
                <div class="tuto-tab-content">
                {% for userTutorial in todos %}
                        {% include "default/_tutocard.html.twig" with { 'tutorial': userTutorial.tutorial } only %}
                    {% else %}
                        <p>Vous n'avez pas encore ajouté de tuto à votre todo-list !
                        <a href="{{ path('tutorial_index') }}">Voir les tutos</a></p>
                    {% endfor %}
                </div>
            </div>
            <div id="done" class="tab-pane fade" role="tabpanel" aria-labelledby="done-tab">
                <div class="tuto-tab-content">
                    {% for userTutorial in dones %}
                        {% include "default/_tutocard.html.twig" with { 'tutorial': userTutorial.tutorial } only %}
                    {% else %}
                        <p>Vous n'avez pas encore réalisé des tutos !
                        <a data-toggle="tab" role="tab" aria-controls="todo" href="#todo">Voir ma todo-list</a></p>
                    {% endfor %}
                </div>
            </div>
            <div id="tutos" class="tab-pane fade tuto-tab-content" role="tabpanel" aria-labelledby="tutos-tab">
                <div class="tuto-tab-content">
                    <div class="row">
                    {% for tutorial in tutos %}
                        <div class="tuto-validinfo">
                        {% if tutorial.validation == 1 %} <p class="tuto-validinfo-text">Ce tuto est publié !</p>
                        {% else %} <p class="tuto-validinfo-text">Ce tuto n'est pas publié. Il est en train d'être relu par nos équipes !</p>
                        {% endif %}

                        {% include "default/_tutocard.html.twig" %}
                        </div>
                    {% else %}
                        <p>Vous n'avez pas encore créé de tuto ! Pourquoi ne pas vous lancer maintenant ?
                            <a href="{{ path('tutorial_new') }}">Créer un tuto</a></p>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div id="abos" class="tab-pane fade tuto-tab-content" role="tabpanel" aria-labelledby="tutos-tab">
                <ul>
                    {% for userto in app.user.userTos %}
                    <li><a href="{{ path('user_show', {'slug': userto.slug}) }}">{{ userto.firstName }} {{ userto.lastName }}</a></li>
                    {% else %}
                        <p>Vous ne suivez aucun décorateur pour le moment.
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</div>
    {% endif %}

    {% endblock %}
