<nav class="tutonav container-fluid navbar navbar-expand-md">
    <a href="{{ path('homepage') }}">
        <img src="{{ asset('uploads/logo/logo.png') }}" alt="logo" class="img-fluid tutologo navbar-brand">
    </a>
    {% if app.user %}
        <a class="btn tutodeco-btn tutodeco-btn-create-mobile" href="{{ path('tutorial_new') }}">+</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse tutonav-flexbox" id="navbarSupportedContent">
        <div class="tutonav-top">
{#                <input class="form-control mr-sm-2" type="search" placeholder="Mot clé..." aria-label="Search">#}
            {{ form_start(searchForm, {'attr': { 'class' : 'form-inline my-2 my-lg-0' }}) }}
                {{ form_row(searchForm.title, {'label': " ", 'attr': {'placeholder': 'mot clé...'}}) }}
                <button class="btn tutodeco-btn my-2 my-sm-0" type="submit">Rechercher</button>
            {{ form_end(searchForm) }}

            <div>
                {% if app.user %}
                    Bonjour, {{ app.user.firstName }} - <a href="{{ path('my_account') }}">Mon compte</a> (<a href="{{ path('app_logout') }}">Se déconnecter</a>)
                {% else %}
                    <a href="{{ path('app_login') }}">Se connecter</a>
                    <a class="btn tutodeco-btn" href="{{ path('app_register') }}">Se créer un compte</a>
                {% endif %}
            </div>
        </div>

        <ul class="navbar-nav">
            <li>
                <a href="{{ path('tutorial_index') }}">Tous les tutos</a>
            </li>
            <li>
                <a href="#">Les plus commentés</a>
            </li>
            <li>
                <a href="#">Les plus réalisés</a>
            </li>
            <li>
                {% if app.user %}
                <a class="btn tutodeco-btn tutodeco-btn-create" href="{{ path('tutorial_new') }}">Créer un tuto</a>
                {% endif %}
            </li>
        </ul>
    </div>

</nav>