<div class="col-lg-4">
    <div class="card card-tuto card-tuto-list" >
        <div class="card-body card-tutolist-body">
            <div class="card-tuto-body-list card-border">
                <div class="card-tuto-title">
                    <h3 class="card-tuto-title-text">{{ tutorial.title }}
                    </h3>
                    {% if app.user == tutorial.user %}<a href="{{ path('tutorial_edit', {'id' : tutorial.id}) }}"><i class="fas fa-edit card-tuto-edit"></i></a>
                    {% endif %}
                </div>
                <a href="{{ path('tutorial_show', {'id': tutorial.id}) }}">
                    <img id="{{ tutorial.id }}" src="{{ asset('uploads/tutorials/' ~ tutorial.imageName) }}" alt="{{ tutorial.imageName }}" class="img-fluid card-tuto-image card-tuto-list-image">
                    <div class="btn seemore-button tutodeco-btn" id="seemore-button-{{ tutorial.id }}" style="display: none">Voir plus</div>
                </a>
                <div class="card-tuto-picto">
                    <div>
                        <a href="{{ path('tutorial_todo', {'id' : tutorial.id}) }}" class="btn btn-link js-todo-link {% if app.user == tutorial.user %} disabled {% endif %}" {% if app.user %}data-toggle="popover" data-content="Ajouté en todo" data-delay={"show":100,"hide":100} {% endif %}>
                                            <span class="js-nbTodo">
                                                {{ tutorial.nbTodo }}
                                            </span>
                            {% if app.user %}
                                {% if tutorial.isTodoByUser(app.user) == true %}
                                    <i class="fas fa-clipboard-list card-tuto-picto"></i>
                                {% else %}
                                    <i class="far fa-clipboard card-tuto-picto"></i>
                                {% endif %}
                            {% else %}
                                <i class="far fa-clipboard card-tuto-picto"></i>
                            {% endif %}
                        </a>
                    </div>
                    <div>
                        <a href="{{ path('tutorial_done', {'id' : tutorial.id}) }}" class="btn btn-link js-done-link {% if app.user == tutorial.user %} disabled {% endif %}">
                            <span class="js-nbDone">
                                {{ tutorial.nbDone }}
                            </span>
                            {% if app.user %}
                                {% if tutorial.isDoneByUser(app.user) == true %}
                                    <i class="fas fa-check-square card-tuto-picto"></i>
                                {% else %}
                                    <i class="far fa-check-square card-tuto-picto"></i>
                                {% endif %}
                            {% else %}
                                <i class="far fa-check-square card-tuto-picto"></i>
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>