<form method="post" enctype="multipart/form-data">
{{ form_start(form) }}
    {{ form_row(form.title, {'label' : 'Titre'}) }}
    {{ form_row(form.description) }}
    {{ form_row(form.imageFile, {'label' : 'Photo'}) }}
    <h2>Fournitures</h2>
    {{ form_row(form.materials, {'label' : 'Matériel', 'attr' : {'class' : 'js-multiple'}}) }}
    {{ form_row(form.tools, {'label' : 'Outils', 'attr' : {'class' : 'js-multiple'}}) }}
    <h2>Information supplémentaires</h2>
    {{ form_row(form.duration, {'label' : 'Durée en minutes'}) }}
    {{ form_row(form.level, {'label' : 'Difficulté'}) }}
    {{ form_row(form.cost, {'label' : 'Budget'}) }}

    {{ form_row(form.tags, {'attr' : {'class' : 'js-multiple'}}) }}
    {{ form_row(form._token) }}

    <h2>Etapes</h2>

    <ul class="steps" data-prototype="{{ form_widget(form.steps.vars.prototype)|e('html_attr') }}">
        {% for step in form.steps %}
        <li>{{ form_row(step.number) }}
            {{ form_row(step.description) }}
            {{ form_row(step.imageFile) }}</li>
        {% endfor %}
    </ul>

    <button class="btn tutodeco-btn">{{ button_label|default('Enregistrer le tutoriel') }}</button>

{{ form_end(form, {'render_rest': false} ) }}
