{% extends 'base.html.twig' %}

{% block title %}Tutorial index{% endblock %}

{% block body %}
    <h1>Tutorial index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Picture</th>
                <th>Duration</th>
                <th>Created_at</th>
                <th>Fait par</th>
                <th>Validation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tutorial in tutorials %}
            <tr>
                <td>{{ tutorial.id }}</td>
                <td>{{ tutorial.title }}</td>
                <td>{{ tutorial.description }}</td>
                <td>{{ tutorial.imageName }}</td>
                <td>{{ tutorial.duration }}</td>
                <td>{{ tutorial.createdAt ? tutorial.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tutorial.user }}</td>
                <td>{{ tutorial.validation }}</td>
                <td>
                    <a href="{{ path('tutorial_show', {'id': tutorial.id}) }}">show</a>
                    <a href="{{ path('tutorial_edit', {'id': tutorial.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tutorial_new') }}">Create new</a>
{% endblock %}
