{% extends 'base.html.twig' %}

{% block title %}Tuto - {{ tutorial.title }}{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-lg-8">
            <div class="card card-border card-tuto" >
                <div class="card-body card-tuto-body">
                    <img src="{{ asset('uploads/tutorials/' ~ tutorial.imageName) }}" alt="{{ tutorial.imageName }}" class="img-fluid card-tuto-image">
                    <div class="card-tuto-description">
                        <div class="card-tuto-title">
                            <h2 class="card-tuto-title-text">{{ tutorial.title }} </h2>
                        </div>

                        <p class="card-text card-tuto-text"> Proposé par
                            {% if app.user == tutorial.user %}
                            vous.
                            {% else %}
                            <a href="{{ path('user_show', {'slug': tutorial.user.slug}) }}">{{ tutorial.user }}</a>
                            {% endif %}
                        </p>
                        {% if app.user == tutorial.user and tutorial.validation == 0%}
                            <p class="card-tuto-text">
                                <a href="{{ path('tutorial_edit', {'id' : tutorial.id}) }}"><i class="fas fa-edit"></i></a>
                            </p>
                        {% endif %}
                        <p class="card-text card-tuto-text">{{ tutorial.description}}</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-border card-tuto">
                <div class="card-body card-tuto-body card-tuto-body-details">
                    <p class="card-tuto-detail"><i class="fas fa-hourglass-half"></i> {{ tutorial.duration }} min</p>
                    <p class="card-tuto-detail"><i class="fas fa-tools"></i> {{ tutorial.level }}</p>
                    <p class="card-tuto-detail"><i class="fas fa-euro-sign"></i> {{ tutorial.cost }}</p>

                </div>
                <div class="card-tuto-picto">
                    <div>
                        <a href="{{ path('tutorial_todo', {'id' : tutorial.id}) }}" class="btn btn-link js-todo-link {% if app.user == tutorial.user %} disabled {% endif %}" {% if app.user %}data-toggle="popover" data-content="Ajouté en todo" data-delay={"show":100,"hide":100} {% endif %}>
                                            <span class="js-nbTodo">
                                                {{ tutorial.nbTodo }}
                                            </span>
                            {% if app.user %}
                                {% if tutorial.isTodoByUser(app.user) == true %}
                                    <i class="fas fa-clipboard-list card-tuto-picto"></i>
                                    <p class="js-message-todo text-muted">Dans votre todo-list !</p>
                                {% else %}
                                    <i class="far fa-clipboard card-tuto-picto"></i>
                                {% endif %}
                            {% else %}
                                <i class="far fa-clipboard card-tuto-picto"></i>
                            {% endif %}
                        </a>
                    </div>
                    <div>
                        <a href="{{ path('tutorial_done', {'id' : tutorial.id}) }}" class="btn btn-link js-done-link {% if app.user == tutorial.user %} disabled {% endif %}">
                            <span class="js-nbDone">
                                {{ tutorial.nbDone }}
                            </span>
                            {% if app.user %}
                                {% if tutorial.isDoneByUser(app.user) == true %}
                                    <i class="fas fa-check-square card-tuto-picto"></i>
                                    <p class="js-message-done text-muted">Vous l'avez fait !</p>
                                {% else %}
                                    <i class="far fa-check-square card-tuto-picto"></i>
                                {% endif %}
                            {% else %}
                                <i class="far fa-check-square card-tuto-picto"></i>
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row tuto-background">
        <div class="col-lg-6">
            <div class="card card-border">
                <div class="card-title card-tuto-title">
                    <h5>Outils</h5>
                </div>
                <div class="card-body card-tuto-list">
                    <ul>
                        {% for tool in tutorial.tools %}
                            <li>{{ tool }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card card-border">
                <div class="card-title card-tuto-title">
                    <h5>Matériel</h5>
                </div>
                <div class="card-body card-tuto-list">
                    <ul>
                        {% for material in tutorial.materials %}
                            <li>{{ material }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <ul class="card-tuto-step">
                {% for step in steps %}
                    <div class="card card-border">
                        <div class="card-title card-tuto-title">
                            <h5>Etape {{ loop.index }}</h5>
                        </div>
                        <div class="d-flex flex-column flex-lg-row">
                            <li class="card-body card-tuto-body-step">
                                <p class="card-tuto-text">{{ step.description }}</p>
                            </li>
                            <img src="{{ asset('uploads/tutorials/' ~ step.pictureName) }}" alt="{{ step.pictureName }}" class="img-fluid card-tuto-step-image">
                        </div>
                    </div>
                {% endfor %}
            </ul>
            <form method="post" enctype="multipart/form-data">
                <div class="card card-border">
                    <div class="card-title card-tuto-title">
                        <h5>Ajouter un commentaire</h5>
                    </div>
                    <div class="tuto-comment">
                        {% if app.user %}
                            {% include 'comment/_form.html.twig' %}
                        {% else %}
                            <p><a href="{{ path('app_login') }}">Identifiez-vous</a> ou <a href="{{ path('app_register') }}">inscrivez-vous</a> pour ajouter un commentaire</p>
                        {% endif %}
                    </div>
                </div>
            </form>
            <section class="card card-border">
                {% for comment in tutorial.comments %}
                    <article class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <small>Ecrit par {{ comment.user }}, il y a </small>
                        </div>
                        <div class="d-flex flex-column flex-lg-row">
                            <li class="card-body card-tuto-body-step">
                                <p class="card-tuto-text">{{ comment.content}}</p>
                            </li>
                            {% if comment.picture %}
                                <img src="{{ asset('uploads/comments/' ~ comment.picture) }}" alt="{{ comment.picture }}" class="img-fluid card-tuto-step-image">
                            {% endif %}
                        </div>
                    </article>
                {% endfor %}
            </section>
        </div>

    </div>



{% endblock %}
