{% extends 'base.html.twig' %}

{% block title %}Tutorial{% endblock %}

{% block body %}

    <div class="row">
        <div class="card card-border card-tuto col-lg-8" >
            <div class="card-body card-tuto-body">
                <img src="{{ asset('uploads/tutorials/' ~ tutorial.imageName) }}" alt="{{ tutorial.imageName }}" class="img-fluid card-tuto-image">
                <div class="card-tuto-description">
                    <div class="card-tuto-title">
                        <h2>{{ tutorial.title }} </h2>
                        <a href="#"><i class="fas fa-edit"></i></a>
                    </div>
                    <p class="card-text card-tuto-text">Proposé par
                        {% if app.user == tutorial.user %}
                        vous.
                        {% else %}
                        <a href="{{ path('user_show', {'slug': tutorial.user.slug}) }}">{{ tutorial.user }}</a>
                        {% endif %}
                    </p>
                    <p class="card-text card-tuto-text">{{ tutorial.description}}</p>
                </div>
            </div>
        </div>
        <div class="card card-border card-tuto col-lg-4">
            <div class="card-body card-tuto-body">
                <p class="card-tuto-detail"><i class="fas fa-hourglass-half"></i> {{ tutorial.duration }} min</p>
                <p class="card-tuto-detail"><i class="fas fa-tools"></i> {{ tutorial.level }}</p>
                <p class="card-tuto-detail"><i class="fas fa-euro-sign"></i> {{ tutorial.cost }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card card-border col-lg-6">
            <div class="card-body card-tuto-list">
                <h5>Outils</h5>
                <ul>
                    {% for tool in tutorial.tools %}
                        <li>{{ tool }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card card-border col-lg-6">
            <div class="card-body card-tuto-list">
                <h5>Matériel</h5>
                <ul>
                    {% for material in tutorial.materials %}
                        <li>{{ material }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
            <ul class="card-tuto-step">
                {% for step in steps %}
                    <div class="card card-border">
                        <li class="card-body">Etape {{ loop.index }} : {{ step.description }}</li>
                    </div>
                {% endfor %}
            </ul>
    </div>



    <a href="{{ path('tutorial_index') }}">back to list</a>

    <a href="{{ path('tutorial_edit', {'id': tutorial.id}) }}">edit</a>

    {{ include('tutorial/_delete_form.html.twig') }}
{% endblock %}
