{% extends 'base.html.twig' %}

{% block title %}Tutorial{% endblock %}

{% block body %}

    <div class="row">
        <div class="card card-tuto col-lg-8" >
            <div class="card-body card-tuto-body">
                <img src="{{ asset('uploads/tutorials/' ~ tutorial.imageName) }}" alt="{{ tutorial.imageName }}" class="img-fluid card-tuto-image">
                <div class="card-tuto-description">
                    <div class="card-tuto-title">
                        <h5>{{ tutorial.title }} </h5>
                        <a href="#">edit</a>
                    </div>
                    <p class="card-text card-profile-text">{{ tutorial.description}}</p>
                </div>
            </div>
        </div>
        <div class="card card-tuto col-lg-4">
            <div class="card-body">

            </div>
        </div>

    </div>
    <h1>Tutorial</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tutorial.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ tutorial.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tutorial.description }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ tutorial.imageName }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ tutorial.duration }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ tutorial.createdAt ? tutorial.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Validatio</th>
                <td>{{ tutorial.validation }}</td>
            </tr>
            <tr>
                <th>Fait par</th>
                <td>{{ tutorial.user }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tutorial_index') }}">back to list</a>

    <a href="{{ path('tutorial_edit', {'id': tutorial.id}) }}">edit</a>

    {{ include('tutorial/_delete_form.html.twig') }}
{% endblock %}
