{% extends 'base.html.twig' %}

{% block title %}Tutorial{% endblock %}

{% block body %}

    <div class="row">
        <div class="card card-border card-tuto col-lg-8" >
            <div class="card-body card-tuto-body">
                <img src="{{ asset('uploads/tutorials/' ~ tutorial.imageName) }}" alt="{{ tutorial.imageName }}" class="img-fluid card-tuto-image">
                <div class="card-tuto-description">
                    <div class="card-tuto-title">
                        <h5>{{ tutorial.title }} <a href="#">edit</a></h5>
                        <p>Proposé par {{ tutorial.user }}</p>

                    </div>
                    <p class="card-text card-tuto-text">{{ tutorial.description}}</p>
                </div>
            </div>
        </div>
        <div class="card card-border card-tuto col-lg-4">
            <div class="card-body card-tuto-body">
                <p class="card-tuto-detail">Durée : {{ tutorial.duration }} min</p>
                <p class="card-tuto-detail">Difficulté : {{ tutorial.level }}</p>
                <p class="card-tuto-detail">Coût : {{ tutorial.cost }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card card-border col-lg-6">
            <div class="card-body">
                <h5>Outils</h5>
                <ul>
                    {% for tool in tutorial.tools %}
                        <li>{{ tool }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card card-border col-lg-6">
            <div class="card-body">
                <h5>Matériel</h5>
                <ul>
                    {% for material in tutorial.materials %}
                        <li>{{ material }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="card card-border">
            <h5>Etapes</h5>
            <ul>
                {% for step in steps %}
                    <div class="card-body">
                        <li>{{ step.number }} : {{ step.description }}</li>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>



    <a href="{{ path('tutorial_index') }}">back to list</a>

    <a href="{{ path('tutorial_edit', {'id': tutorial.id}) }}">edit</a>

    {{ include('tutorial/_delete_form.html.twig') }}
{% endblock %}
