{% extends 'base.html.twig' %}

{% block title %}Tuto-Déco {{ user.firstName }} {{ user.lastName }}{% endblock %}

{% block body %}
    {% if user == app.user and user.getNbTuto == 0 %}
        <p>Vous n'avez pas encore publié de tuto pour avoir une page décorateur ! Pourquoi ne pas se lancer maintenant ? <a href="{{ path('tutorial_new') }}"> Créer un tuto !</a></p>
        <p>Vous avez créé un tutoriel mais votre page décorateur n'est pas active ? Un peu de patience, votre tutoriel est surement encore en cours de relecture ! </p>
        <a href="{{ path('my_account') }}" type="button" class="btn tutodeco-btn">Retour au profil</a>
    {% else %}
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-border card-profile" >
                <div class="card-body">
                    <div class="card-profile-id card-profile-image">
                        {% if user.pictureName == null %}
                            <img src="{{ asset('uploads/logo/logo.png') }}" alt="logo.png" class="img-fluid">
                        {% else %}
                        <img src="{{ asset('uploads/users/' ~ user.pictureName) }}" alt="{{ user.pictureName }}" class="img-fluid">
                            {% endif %}
                        <h5 class="card-title">
                            {% if user.nickname %}{{ user.nickname }} {% else %}{{ user.firstName }} {{ user.lastName }}
                            {% endif %}
                        </h5>
                        {% if app.user == user %}<a href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-edit"></i></a>{% endif %}
                    </div>
                    {% if user.description == null %}
                        <p>Ce décorateur n'a encore renseigné sa description</p>
                    {% else %}
                        <p class="card-text card-profile-text">{{ user.description}}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-border">
                <div class="card-body card-profile-follow">
                    <a href="#" class="card-profile-subscribe">S'abonner</a>
                    <div>
                        <a href="#" class="card-link">{{ user.userTos.count }} abonnements</a>
                        <a href="#" class="card-link">{{ user.userFroms.count }} abonnés</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="tuto-container">
                <div class="card-title card-tuto-title">
                    <h3>Mes tutos</h3>
                </div>
                <div class="row">
                    {% for tutorial in user.tutorials %}
                    <div class="col-lg-4">
                        {% include 'default/_tutocard.html.twig' %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    {% endif %}

{% endblock %}
