{% extends 'base.html.twig' %}

{% block title %}{{ user.firstName }} {{ user.lastName }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="card card-profile col-lg-8" >
            <div class="card-body">
                <div class="card-profile-id">
                    <img src="{{ asset('uploads/users/' ~ user.pictureName) }}" alt="{{ user.pictureName }}" class="img-fluid">
                    <h5 class="card-title">{% if user.nickname %}{{ user.nickname }} {% else %}{{ user.firstName }} {{ user.lastName }} {% endif %}</h5>
                    {% if app.user == user %}<a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>{% endif %}
                </div>
                <p class="card-text card-profile-text">{{ user.description}}</p>
            </div>
        </div>
        <div class="card col-lg-4">
            <div class="card-body card-profile-follow">
                <a href="#" class="card-profile-subscribe">S'abonner</a>
                <div>
                    <a href="#" class="card-link">{{ user.userTos.count }} abonnements</a>
                    <a href="#" class="card-link">{{ user.userFroms.count }} abonnés</a>
                </div>
            </div>
        </div>

    </div>



{% endblock %}
