{% extends 'base.html.twig' %}

{% block title %}Tuto-Déco {{ user.firstName }} {{ user.lastName }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-border card-profile" >
                <div class="card-body">
                    <div class="card-profile-id">
                        <img src="{{ asset('uploads/users/' ~ user.pictureName) }}" alt="{{ user.pictureName }}" class="img-fluid">
                        <h5 class="card-title">
                            {% if user.nickname %}{{ user.nickname }} {% else %}{{ user.firstName }} {{ user.lastName }}
                            {% endif %}
                        </h5>
                        {% if app.user == user %}<a href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-edit"></i></a>{% endif %}
                    </div>
                    <p class="card-text card-profile-text">{{ user.description}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-border">
                <div class="card-body card-profile-follow">
                    <a href="#" class="card-profile-subscribe">S'abonner</a>
                    <div>
                        <a href="#" class="card-link">{{ user.userTos.count }} abonnements</a>
                        <a href="#" class="card-link">{{ user.userFroms.count }} abonnés</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="tuto-container">
                <div class="card-title card-tuto-title">
                    <h3>Mes tutos</h3>
                </div>
                {% for tutorial in user.tutorials %}
                    {% include 'default/_tutocard.html.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}
